@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Playfair Display", serif;
}
.svgsize {
  height: 3rem;
  width: 3rem;
}
